DATABASE_URL=mysql://KULLANICI:SIFRE@HOST:4000/sys
SECRET_KEY=uzun-rastgele-bir-deger
BOOTSTRAP_CHIEF_USERNAME=alansefi
BOOTSTRAP_CHIEF_PASSWORD=en-az-8-karakter
BOOTSTRAP_CHIEF_NAME=Alan Şefi
MAX_UPLOAD_MB=16
DB_POOL_SIZE=3
DB_MAX_OVERFLOW=2
COOKIE_SECURE=false
